:root {
  --ff: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
  font-family: var(--ff);
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.btns-container,
.play-again-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.moves-message {
  text-align: center;
  margin-bottom: 3rem;
}

.score-container p {
  margin-bottom: 0.5rem;
}

.btns-container,
.moves-message,
.score-container,
.final-score,
.play-again-btn {
  display: none;
}